modules = ["nodejs-20", "web", "python-3.11"]
[agent]
expertMode = true
integrations = ["javascript_object_storage:2.0.0"]

[nix]
channel = "stable-25_05"
packages = ["unzip"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Dev Server"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Scouting Dashboard"

[[workflows.workflow]]
name = "Dev Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5173

[[workflows.workflow]]
name = "Scouting Dashboard"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd /home/runner/workspace && python main.py"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 3000
externalPort = 3002

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3000

[[ports]]
localPort = 5002
externalPort = 3001

[[ports]]
localPort = 5173
externalPort = 5173

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
publicDir = "dist"
run = ["npm", "run", "start"]

[userenv]

[userenv.shared]
BIGQUERY_PROJECT_ID = "ticketing-migration"
BIGQUERY_DATASET_ID = "ticketing_migration"
BIGQUERY_TABLE_ID = "extended_db_final"
SHOPIFY_STORE_NAME = "pallacanestro-varese"
SHOPIFY_API_VERSION = "2024-01"
JWT_SECRET = "ef2ce850d4f74c17b8de429e08425dc8f6e3578e57c32a794c557ff4026c6dd8"
